.vscode/
node_modules/
angular-src/node_modules/
.sass-cache/
angular-src/angular-src/
*.css.map
/angular-src/src/assets/lib/hljs/styles/*.css
uploads/
.prettierrc
.env
.env.production
angular-src/src/environments/