<header class="column content clear-inner">
    <h1>Edit Post</h1>
    <p *ngIf="post">
        <a routerLink="/articles/{{ post?.url }}" target="_blank">
            View Post
        </a>
    </p>
</header>

<div class="column content" *ngIf="post">

    <form (submit)="editPost()" class="form">

        <div class="form-input-group">
            <label>Post Title</label>
            <input type="text" name="title" [(ngModel)]="post.title" placeholder="Post Title">
        </div>

        <div class="form-input-group">
            <label>Post URL</label>
            <input type="text" name="url" [(ngModel)]="post.url" placeholder="Post URL">
        </div>

        <div class="form-input-group">
            <label>Post Hero</label>
            <input type="text" name="hero" [(ngModel)]="post.hero" placeholder="Post Hero">
        </div>

        <div class="form-input-group">
            <label>Post Date</label>
            <input type="text" name="date" [(ngModel)]="post.date" placeholder="Post Date">
        </div>

        <div class="form-input-group form-input-full">
            <label>Categories</label>
            <select name="category" [(ngModel)]="post.category" multiple>
                <option *ngFor="let c of categories" [ngValue]="c.name">
                    {{c.name}}
                </option>
            </select>
        </div>

        <div class="form-input-group form-input-full">

            <label>Body Content</label>

            <div *ngFor="let section of post.body; let i = index;" class="edit-section">

                <div class="form-input-group">
                    <label>Section Type</label>
                    <select name="sectionType-{{i}}" [(ngModel)]="section.type">
                        <option *ngFor="let type of sectionTypes" [ngValue]="type">
                            {{type}}
                        </option>
                    </select>
                </div>

                <div class="form-input-group">
                    <label>Section Id</label>
                    <input type="text" name="sectionId{{i}}" [(ngModel)]="section.id">
                </div>

                <div class="form-input-group" *ngIf="section.type==='code'">
                    <label>Section Classes</label>
                    <input type="text" name="sectionClasses{{i}}" [(ngModel)]="section.class">
                </div>

                <div class="form-input-group" *ngIf="section.type!=='html'">
                    <label>Section Caption</label>
                    <input type="text" name="sectionCaption{{i}}" [(ngModel)]="section.caption">
                </div>

                <div class="form-input-group form-input-full" *ngIf="section.type!=='media'">
                    <textarea name="sectionContent{{i}}" [(ngModel)]="section.content">
                    </textarea>
                </div>

                <div class="form-input-group" *ngIf="section.type==='media'">
                    <label>Media URL</label>
                    <input type="text" name="sectionContent{{i}}" [(ngModel)]="section.content">
                </div>

            </div>

            <p>
                <a class="btn mini" (click)="addSection()">
                    <fa name="plus-square"></fa> Add Section
                </a>
            </p>
        </div>

        <p>
            <input type="submit" class="btn" value="Update Post">
        </p>

    </form>

</div>