@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|PT+Sans:400,700");
.paragraph, p, input, select {
  font: normal normal 300 16px/1.8em "PT Sans", sans-serif;
  margin: 0.5em auto 1.65em; }
  @media screen and (max-width: 640px) {
    .paragraph, p, input, select {
      font-size: 15px; } }

.title, h1, h2, h3, h4, h5, h6 {
  font: normal normal 700 30px/1.6em "PT Sans", sans-serif;
  margin: 0 auto 0.6em;
  text-transform: capitalize; }
  @media screen and (max-width: 640px) {
    .title, h1, h2, h3, h4, h5, h6 {
      font-size: 24px; } }

input, textarea, select {
  font: normal normal 300 16px/1.8em "PT Sans", sans-serif; }

.clear-inner:after, .articles:after, .form .form-input-group:after {
  display: block;
  clear: both;
  content: ' '; }

.column {
  width: 100%;
  margin: 0 auto;
  max-width: 720px; }

.box, .content, .article, body, div, section, .form input, .form textarea, .form .form-input-group label, .form .form-input-group input, .form .form-input-group select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.content {
  padding: 1em 1.5em; }
  .content:last-child p:last-child {
    margin-bottom: 0; }

.img-fit {
  width: 100%;
  height: 0;
  padding-bottom: 150%;
  position: relative; }
  .img-fit img {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.btn {
  background: #ff5e53;
  color: #fff;
  border: 2px solid #ff5e53;
  text-align: center;
  min-width: 180px;
  padding: 1em;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
  -webkit-transition: 330ms ease;
  -moz-transition: 330ms ease;
  -ms-transition: 330ms ease;
  -o-transition: 330ms ease;
  transition: 330ms ease; }
  .btn:hover {
    background: transparent;
    color: #ff5e53; }
  .btn.mini {
    font-size: 14px;
    padding: 0.3em;
    min-width: 30px; }

.article {
  display: inline-block;
  float: left;
  width: 33.33%; }
  .article h3 {
    font-size: 16px;
    padding: 0.5em 0;
    margin: 0 auto;
    text-transform: none; }
  .article span {
    font-size: 14px; }
  .article:nth-child(3n+1) {
    padding-right: 3%;
    clear: both; }
  .article:nth-child(3n+2) {
    padding-right: 1.5%;
    padding-left: 1.5%; }
  .article:nth-child(3n+3) {
    padding-left: 3%; }

* {
  font-family: inherit;
  color: inherit; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PT Sans", sans-serif;
  color: #ff5e53; }

a {
  text-decoration: none;
  cursor: pointer; }

p a {
  text-decoration: underline;
  padding: 0 2px; }
  p a:hover {
    text-decoration: none;
    background: #ff5e53;
    color: #fff; }

.full {
  width: 100%; }

h1.small, h2.small, h3.small, h4.small, h5.small, h6.small {
  font-size: 18px;
  text-transform: uppercase; }

hr {
  border: 1px solid #ff5e53;
  clear: both; }
  @media screen and (max-width: 640px) {
    hr {
      margin: 0; } }

code {
  font-family: "Roboto Mono", monospace; }
  @media screen and (max-width: 640px) {
    code {
      font-size: 14px;
      padding: 0.5em 0; } }

.form input, .form textarea {
  display: block;
  width: 100%;
  appearance: none;
  border-radius: 0; }
.form input[type='text'], .form input[type='password'], .form input[type='email'], .form input[type='tel'] {
  padding: 0.5em 0.5em 0.5em 0.8em;
  border: none;
  border-bottom: 3px solid #ff5e53;
  background: #f2f2f2; }
.form input[type='submit'] {
  background: #ff5e53;
  border: 3px solid #ff5e53;
  text-align: center;
  padding: 0.75em;
  color: #ffffff; }
  .form input[type='submit']:hover {
    background: #ffffff; }
.form .form-input-group {
  margin: 0.5em auto 1em; }
  .form .form-input-group label, .form .form-input-group input, .form .form-input-group select {
    display: inline-block;
    float: left;
    font-size: 16px;
    margin: 0 auto;
    line-height: 1.1;
    vertical-align: middle;
    height: 36px;
    padding: 0.6em 0.5em 0.5em 0.75em; }
  .form .form-input-group label {
    width: 33.333%;
    background: #ff5e53;
    color: #fff; }
  .form .form-input-group input, .form .form-input-group select {
    width: 66.666%;
    border-bottom: none; }
  .form .form-input-group select {
    border: 0;
    background: #f2f2f2;
    padding: 0; }
    .form .form-input-group select option {
      padding: 0.4em 0.75em;
      border-bottom: 1px solid #e8e8e8; }
      .form .form-input-group select option:first-child {
        padding-top: 0.5em; }
      .form .form-input-group select option:last-child {
        border-bottom: none;
        padding-bottom: 0.5em; }

.form-chunk-container {
  border: 1px solid #ff5e53;
  border-top: none;
  border-bottom: 1px dashed #ff5e53;
  position: relative; }
  .form-chunk-container .form {
    padding: 12px; }
  .form-chunk-container p {
    margin: 0 auto;
    background: #ff5e53;
    padding: 0.5em 0.6em;
    color: #fff;
    font-size: 12px;
    margin-top: -1px; }
  .form-chunk-container:first-child {
    border-top: 1px solid #ff5e53; }
  .form-chunk-container textarea {
    resize: vertical;
    width: 100%;
    min-height: 200px; }
  .form-chunk-container .delete {
    position: absolute;
    top: -1px;
    right: 0;
    color: #fff;
    padding: 0.45em 0.8em;
    font-size: 14px;
    border-left: 1px solid white;
    border-top: 1px solid #ff5e53;
    border-bottom: 1px solid #ff5e53;
    cursor: pointer;
    -webkit-transition: 220ms ease;
    -moz-transition: 220ms ease;
    -ms-transition: 220ms ease;
    -o-transition: 220ms ease;
    transition: 220ms ease; }
    .form-chunk-container .delete:hover {
      background: #fff;
      color: #ff5e53;
      border-left: 1px solid #ff5e53; }

.form-chunk-add {
  border: 1px solid #ff5e53;
  border-top: none; }

/*# sourceMappingURL=edit.component.css.map */
