//************************//
//****      EDIT      ****//
//************************//

// Includes

@import '../../partials/const';

@import '../../partials/mixins';

@import '../../partials/classes';

@import '../../partials/basic';

// Styles

header p {

margin-bottom: 0;

}

.form .form-input-group {

    &.form-input-full {

        > select {

            height: auto;

        }

        > input,
        > select,
        > textarea,
        > label {

            display: block;

            width: 100%;
            
            float: none;

        }

    }

    textarea {

        min-height: 160px;

        padding: 0.8em;

        &:focus {

            -moz-appearance: none;

            outline: 0px none transparent;

        }

    }

    .edit-section {

        padding: 10px;

        border: 1px solid $primary;
        
        border-top: none;
        
        border-bottom: 1px dashed $primary;

        &:last-child {
            
            border-bottom: 1px solid $primary;
        
        }

        .form-input-group {
            
            margin: 0.35em auto;


            &:first-child {
                
                margin-top: 0.15em;
            
            }

            &:last-child {
                
                margin-bottom: 0.15em;
            
            }
            
        }

    }

}
