<div class="column content">

    <h1>{{greeting}}!</h1>

    <p>Lorem ipsum dolor sit amet, sed an causae sanctus, eros singulis omittantur ex qui, in sea tantas labores. Vis at invenire
        assentior persecuti, an dicat epicurei sea. Aliquam lobortis tractatos et qui, nec in facete prodesset quaerendum.
        Ei altera everti mel, cul ne quodsi mollis nostrum, ponderum consetetur ea has.</p>

    <p>
        <a routerLink="/dashboard/media" title="View Media" class="btn mini">
            <fa name="cog"></fa> Media</a>
    </p>

</div>

<div class="column content">

    <h2>Your Articles</h2>

    <div class="table post-table full">

        <div class="tr th">

            <div class="td">Title</div>

            <div class="td">URL</div>

            <div class="td">Categories</div>

            <div class="td">Date</div>

            <div class="td">Active</div>

            <div class="td">Edit</div>

            <div class="td">Delete</div>

        </div>

        <div class="tr" *ngFor="let post of posts">

            <div class="td">{{ post.title }}</div>

            <div class="td">{{ post.url }}</div>

            <div class="td">

                <ul *ngIf="post.category">

                    <li *ngFor="let cat of post.category">{{ cat }}</li>

                </ul>

            </div>

            <div class="td">{{ post.date | date:'yy-MM-dd HH:mm' }}</div>

            <div class="td">

                <div class="btn mini" (click)="postActive(post)">

                    <fa name="check-circle" *ngIf="post.active"></fa>

                    <fa name="circle" *ngIf="!post.active"></fa>

                </div>

            </div>

            <div class="td">

                <div class="btn mini" routerLink="/dashboard/edit/{{ post._id }}">

                    <fa name="cog"></fa>

                </div>

            </div>

            <div class="td">

                <div class="btn mini" (click)="postDelete(post._id)">

                    <fa name="trash"></fa>

                </div>

            </div>

        </div>

        <div class="tr blank">

            <div class="td"></div>

            <div class="td"></div>

            <div class="td"></div>

            <div class="td"></div>

            <div class="td"></div>

            <div class="td"></div>

            <div class="td">

                <div class="btn mini" (click)="postAdd()">

                    <fa name="plus-square"></fa>
                </div>

            </div>

        </div>

    </div>

</div>

<div class="column content" *ngIf="count > currentPostCount">

    <a (click)="getMorePosts()" class="btn">Get More Posts Bruh
        <fa name="plus-square"></fa>
    </a>

</div>