//***********************//
//****   DASHBOARD   ****//
//***********************//

// Includes
@import '../../partials/const';

@import '../../partials/mixins';

@import '../../partials/classes'; // TODO: Unnecessary?

@import '../../partials/basic'; // TODO: Unnecessary?

@import '../../partials/tables'; // TODO: Unnecessary?

// Posts

.post-table {

    border-top: 1px solid $primary;

    .td {

        padding: 0.5em;

        border-right: 1px solid $primary;

        border-bottom: 1px solid $primary;

        font-size: 12px;

        &:first-child {

            border-left: 1px solid $primary;

        }

        ul {

            list-style: none;

            padding: 0;

            margin: 0;

            display: inline-block;

            vertical-align: middle;

            li {

                display: inline-block;

                &:nth-last-child(1n+2){

                    &:after {

                        display: inline-block;

                        content: ',';

                        padding-right: 0.3em;

                    }

                }

            }

        }

    }

    .tr {
        
        &.th .td {

            background: $primary;

            color: #fff;

        }

        &.blank {

            border-left: none;

            .td {

                border-right: none;

                border-bottom: none;

                border-left: none;

                padding-top: 1.5em;

            }

        }

    }

}
