//************************//
//****      POST      ****//
//************************//

// Includes

@import '../../partials/const';

@import '../../partials/mixins';

@import '../../partials/classes';

// Styles

h1 {

    margin-bottom: 0;

}

section:last-child, .edit-content {

    padding-bottom: 1em;

}

.post-meta {

    padding-top: 10px;

    font-size: 14px;

    time {

        padding-left: 0.1em;

    }

    .post-meta-left, .post-meta-right {

        display: inline-block;

        width: 50%;

        @extend .clear-inner;

    }

    .post-meta-left {

        float: left;

    }

    .post-meta-right {

        float: right;

        text-align: right;

        span {

            padding-right: 2px;

            text-transform: capitalize;

            &:nth-last-child(2n+1) a:after  {

                content: ',';

                display: inline-block;

            }

            a:hover {

                text-decoration: underline;

            }

        }

    }

}

.captioned {

    margin-bottom: 2em;

    pre {

        margin-bottom: 0;

    }

}

.section-code, .section-media {

    &.captioned {

        background: $tertiary;

        padding: 0.2em;

    }

    p {

        opacity: 0.5;

        text-align: center;

        margin-bottom: 0.2em;

    }

}

.section-code {

    &.captioned {

        pre {

            margin-top: 0;
        
        }

        code {

            margin-top: -20px;

        }

    }

    p {

        margin-top: -2em;

    }

}

.section-media {

    img, video {

        width: auto;

        height: auto;

        max-width: 100%;

        display: block;

        clear: both;

        margin: 0 auto;

        padding: 0;

    }

}