<header class="column content clear-inner" *ngIf="post">

    <h1>{{ post.title }}</h1>
    <div class="post-meta">
        <div class="post-meta-left">
            <fa name="calendar"></fa>
            <time>{{ post.date | date:'fullDate' }}</time>
        </div>
        <div class="post-meta-right">
            <span *ngFor="let cat of post.category">
                <a routerLink="/articles/" [queryParams]="{ category: cat }">{{ cat }}</a>
            </span>
            <fa name="bookmark"></fa>
        </div>
    </div>

</header>

<article class="column content post" *ngIf="post">

    <ng-template ngFor let-section [ngForOf]="post.body">

        <section class="section-html" PostSectionid="section.id" [innerHtml]="section.content | Html" *ngIf="section.type==='html'">
        </section>

        <section *ngIf="section.type==='code'" class="section-code" [ngClass]="{ 'captioned':section.caption }">
            <pre>
                <code
                    class="section.class"
                    [code]="section.content"
                    highlight>
                </code>
            </pre>
            <p *ngIf="section.caption">
                {{ section.caption }}
            </p>
        </section>

        <section *ngIf="section.type==='media'" class="section-media" [ngClass]="{ 'captioned':section.caption }">
            <img [src]="parse(section.content)" alt="{{section.caption}}" />
            <p *ngIf="section.caption" class="section-caption">
                {{ section.caption }}
            </p>
        </section>

    </ng-template>

</article>

<div class="column content edit-content" *ngIf="authService.loggedIn()">

    <a class="btn mini" routerLink="/dashboard/edit/{{ post?._id }}">
        Edit Article
    </a>

</div>

<div class="column content" *ngIf="post">

    <h2>Related Articles</h2>

    <div class="articles">

        <ng-template ngFor let-article [ngForOf]="relatedArticles">

            <article feature [article]="article" class="article featured"></article>

        </ng-template>

    </div>

</div>