//************************//
//****      HOME      ****//
//************************//

  // Includes
  @import '../../partials/const';
  @import '../../partials/mixins';
  @import '../../partials/classes';
  @import '../../partials/basic';
  @import '../../partials/hljs';

  // Custom Styles

  .skills-container {
    list-style: none;
    margin: 0 auto;
    padding: 0;

    li {
      display: block;
      margin: 1em 0;

      span {
        display: block;
        margin-bottom: 0.5em;
      }

      .skill-bar {
        display: block;
        width: 100%;
        height: 8px;
        position: relative;

        .skill-val, .skill-bg {
          background: $primary;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
        }
        .skill-bg {
          opacity: 0.2;
          width: 100%;
        }
      }
    }
  }