
  <div class="column content">

    <h1>About Me</h1>
    <p>Outside of my professional work, I've always been an extremely active and adventurous person. I love weekend surfing trips, recently spending a week braving the Atlantic waves on the coast around Porto. I am also into the custom motorcycle scene and am regularly finding new hidden country roads to explore on my Triumph, and trying not to break anything expensive with a socket set.</p>

    <pre>
      <code class="typescript" [code]="snippet" highlight>
      </code>
    </pre>

  </div>

  <div class="column content">

    <h2>Skills</h2>
    <ul class="skills-container">
      <li *ngFor="let skill of skills">
        <span>{{ skill.name }}</span>
        <div class="skill-bar">
          <div class="skill-bg"></div>
          <div class="skill-val" [style.width]="skill.level + '%'"></div>
        </div>
      </li>
    </ul>

  </div>

