@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|PT+Sans:400,700");
.paragraph, p, input, select {
  font: normal normal 300 16px/1.8em "PT Sans", sans-serif;
  margin: 0.5em auto 1.65em; }
  @media screen and (max-width: 640px) {
    .paragraph, p, input, select {
      font-size: 15px; } }

.title, h1, h2, h3, h4, h5, h6 {
  font: normal normal 700 30px/1.6em "PT Sans", sans-serif;
  margin: 0 auto 0.6em;
  text-transform: capitalize; }
  @media screen and (max-width: 640px) {
    .title, h1, h2, h3, h4, h5, h6 {
      font-size: 24px; } }

input, textarea, select {
  font: normal normal 300 16px/1.8em "PT Sans", sans-serif; }

.clear-inner:after, .articles:after {
  display: block;
  clear: both;
  content: ' '; }

.column {
  width: 100%;
  margin: 0 auto;
  max-width: 720px; }

.box, .content, .article, body, div, section, .form input, .form textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.content {
  padding: 1em 1.5em; }
  .content:last-child p:last-child {
    margin-bottom: 0; }

.img-fit {
  width: 100%;
  height: 0;
  padding-bottom: 150%;
  position: relative; }
  .img-fit img {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.article {
  display: inline-block;
  float: left;
  width: 33.33%; }
  .article:nth-child(3n+1) {
    padding-right: 2%;
    clear: both; }
  .article:nth-child(3n+2) {
    padding-right: 1%;
    padding-left: 1%; }
  .article:nth-child(3n+3) {
    padding-left: 2%; }

* {
  font-family: inherit;
  color: inherit; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PT Sans", sans-serif;
  color: #ff5e53; }

a {
  text-decoration: none;
  cursor: pointer; }

p a {
  text-decoration: underline;
  padding: 0 2px; }
  p a:hover {
    text-decoration: none;
    background: #ff5e53;
    color: #fff; }

.full {
  width: 100%; }

hr {
  border: 1px solid #ff5e53;
  clear: both; }
  @media screen and (max-width: 640px) {
    hr {
      margin: 0; } }

code {
  font-family: "Roboto Mono", monospace; }
  @media screen and (max-width: 640px) {
    code {
      font-size: 14px;
      padding: 0.5em 0; } }

.form input, .form textarea {
  display: block;
  width: 100%;
  appearance: none;
  border-radius: 0; }
.form input[type='text'], .form input[type='password'], .form input[type='email'], .form input[type='tel'] {
  padding: 0.5em 0.5em 0.5em 0.8em;
  border: none;
  border-bottom: 3px solid #ff5e53;
  background: #f8f8f8; }
.form input[type='submit'] {
  background: #ff5e53;
  border: 3px solid #ff5e53;
  text-align: center;
  padding: 0.75em;
  color: #ffffff; }
  .form input[type='submit']:hover {
    background: #ffffff; }

/*

Dracula Theme v1.2.0

https://github.com/zenorocha/dracula-theme

Copyright 2015, All rights reserved

Code licensed under the MIT license
http://zenorocha.mit-license.org

@author Éverton Ribeiro <nuxlli@gmail.com>
@author Zeno Rocha <hi@zenorocha.com>

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #282a36; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
  color: #8be9fd; }

.hljs-function .hljs-keyword {
  color: #ff79c6; }

.hljs,
.hljs-subst {
  color: #f8f8f2; }

.hljs-string,
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #f1fa8c; }

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #6272a4; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold; }

.hljs-emphasis {
  font-style: italic; }

.skills-container {
  list-style: none;
  margin: 0 auto;
  padding: 0; }
  .skills-container li {
    display: block;
    margin: 1em 0; }
    .skills-container li span {
      display: block;
      margin-bottom: 0.5em; }
    .skills-container li .skill-bar {
      display: block;
      width: 100%;
      height: 8px;
      position: relative; }
      .skills-container li .skill-bar .skill-val, .skills-container li .skill-bar .skill-bg {
        background: #ff5e53;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%; }
      .skills-container li .skill-bar .skill-bg {
        opacity: 0.2;
        width: 100%; }

/*# sourceMappingURL=about.component.css.map */
