//************************//
//****      POST      ****//
//************************//

// Includes
@import '../../partials/const';

@import '../../partials/mixins';

@import '../../partials/classes'; // TODO: Unnecessary

@import '../../partials/tables'; // TODO: Unnecessary

// Styles

.media-container {

    .file-container {

        display: inline-block;

        width: 50%;

        float: left;

        margin: 0 0 20px;

        a.btn {

            position: absolute;

            top: 10px;

            right: 10px;

        }

        &:nth-child(odd){

            padding-right: 10px;

            clear: both;

        }

        &:nth-child(even){

            padding-left: 10px;

        }
        
        .file-img-container {

            padding-bottom: 50%;

            border: 1px solid;
            
            @extend .img-fit;

        }

        .table {

            width: 100%;

            border-left: 1px solid;
    
            .tr {

                &:nth-child(3){

                    height: 35px;

                }
                
                .td {

                    font-size: 10px;

                    border-bottom: 1px solid;
                    
                    border-right: 1px solid;

                    padding: 4px;

                    &:first-child {

                        font-weight: 700;

                    }
                    
                }
    
            }
    
        }

    }

}