@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|PT+Sans:400,700");
.paragraph, p, input, select {
  font: normal normal 300 16px/1.8em "PT Sans", sans-serif;
  margin: 0.5em auto 1.65em; }
  @media screen and (max-width: 640px) {
    .paragraph, p, input, select {
      font-size: 15px; } }

.title, h1, h2, h3, h4, h5, h6 {
  font: normal normal 700 30px/1.6em "PT Sans", sans-serif;
  margin: 0 auto 0.6em;
  text-transform: capitalize; }
  @media screen and (max-width: 640px) {
    .title, h1, h2, h3, h4, h5, h6 {
      font-size: 24px; } }

input, textarea, select {
  font: normal normal 300 16px/1.8em "PT Sans", sans-serif; }

.clear-inner:after, .articles:after, .form .form-input-group:after {
  display: block;
  clear: both;
  content: ' '; }

.column {
  width: 100%;
  margin: 0 auto;
  max-width: 720px; }

.box, .content, .article, body, div, section, .form input, .form textarea, .form .form-input-group label, .form .form-input-group input, .form .form-input-group select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.content {
  padding: 1em 1.5em; }
  .content:last-child p:last-child {
    margin-bottom: 0; }

.img-fit {
  width: 100%;
  height: 0;
  position: relative; }
  .img-fit img {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.btn {
  background: #ff5e53;
  color: #fff;
  border: 2px solid #ff5e53;
  text-align: center;
  min-width: 180px;
  padding: 1em;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
  text-decoration: none !important;
  -webkit-transition: 330ms ease;
  -moz-transition: 330ms ease;
  -ms-transition: 330ms ease;
  -o-transition: 330ms ease;
  transition: 330ms ease; }
  .btn:hover {
    background: transparent;
    color: #ff5e53; }
  .btn.mini {
    font-size: 14px;
    padding: 0.3em;
    min-width: 30px; }

.article {
  display: inline-block;
  float: left;
  padding-top: 25px; }
  .article h3 {
    font-size: 16px;
    padding: 0.5em 0;
    margin: 0 auto;
    text-transform: none; }
  .article span {
    font-size: 14px; }
  @media screen and (min-width: 1024px) {
    .article {
      width: 33.33%; }
      .article:nth-child(1), .article:nth-child(2), .article:nth-child(3) {
        padding-top: 0; }
      .article:nth-child(3n+1) {
        padding-right: 3%;
        clear: both; }
      .article:nth-child(3n+2) {
        padding-right: 1.5%;
        padding-left: 1.5%; }
      .article:nth-child(3n+3) {
        padding-left: 3%; }
      .article .img-fit {
        padding-bottom: 150%; } }
  @media screen and (max-width: 1023px) and (min-width: 641px) {
    .article {
      width: 50%; }
      .article:nth-child(odd) {
        padding-right: 3%; }
      .article:nth-child(even) {
        padding-right: 3%; }
      .article .img-fit {
        padding-bottom: 125%; } }
  @media screen and (max-width: 640px) {
    .article {
      width: 100%;
      display: block;
      float: none;
      padding: 10px 0 !important; }
      .article .img-fit {
        padding-bottom: 110%; } }
  .article.feature {
    padding-top: 0; }

.post h2, .post h3 {
  font-size: 18px;
  text-transform: uppercase; }
.post h3 {
  font-weight: 400; }

/*

This Is The H6
They were the worst of times, but seriously this is a paragraph. What does a link look like within here? Who knows, he thought to himself! That was an 'i' tag for thoughts, now lets use an 'em' tag for emphasis.

Additionally now, in the next paragraph tag, we are going to get bolder strong text, and similarly strong "bring to attention" tag use... despite that we can continue talking normally, but then switch over to a quick bit of span action. Crikey eh!

Things To Cover
Let's think of a few more things we need to cover:

Unordered Lists - Such as this!
Ordered Lists - Numeric please
Inline 'q' Quotes - Nothing fancy
Block Quotes - Semi fancy
Unordered Lists - Such as this!
Unordered Lists - Such as this!
What about nested list item elements
What about them!?
Del/Ins Tags - Deleted/Inserted content, remember attrs!
Note Tag - Bit O' Highlightin
Dfn Tag - Dfn, much like span tbh
Abbr - Abbrev's yo!
Additional Concerns
Hmm that line break really got me thinking about, you guessed it, layout tags! Within a CMS textarea content editor? Yeah. Let's list some of these...

Section Tags - Because we want to compartmentalise things, if that is a word. Oh this is a long list item, I wonder how the styling will react!
What about nested ordered list item elements
What about them!?
Samp - Inline code samples, maybe include kbd tag
Pre/Code - Full code blocks!
Cite Element - Not layout but hey

*/
* {
  font-family: inherit;
  color: inherit; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PT Sans", sans-serif;
  color: #ff5e53; }

a {
  text-decoration: none;
  cursor: pointer; }

p a {
  text-decoration: underline;
  padding: 0 2px; }
  p a:hover {
    text-decoration: none;
    background: #ff5e53;
    color: #fff; }

.full {
  width: 100%; }

h1.small, h2.small, h3.small, h4.small, h5.small, h6.small {
  font-size: 18px;
  text-transform: uppercase; }

hr {
  border: 1px solid #ff5e53;
  clear: both; }
  @media screen and (max-width: 640px) {
    hr {
      margin: 0; } }

code {
  font-family: "Roboto Mono", monospace; }
  @media screen and (max-width: 640px) {
    code {
      font-size: 14px;
      padding: 0.5em 0; } }

.form input, .form textarea {
  display: block;
  width: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: 0px none transparent;
  border-radius: 0; }
.form input[type='text'], .form input[type='password'], .form input[type='email'], .form input[type='tel'] {
  padding: 0.5em 0.5em 0.5em 0.8em;
  border: none;
  border-bottom: 3px solid #ff5e53;
  background: #f2f2f2; }
.form input[type='submit'] {
  background: #ff5e53;
  border: 3px solid #ff5e53;
  text-align: center;
  padding: 0.75em;
  color: #ffffff; }
  .form input[type='submit']:hover {
    background: #ffffff; }
.form .form-input-group {
  margin: 0.5em auto 1em; }
  .form .form-input-group label, .form .form-input-group input, .form .form-input-group select {
    display: inline-block;
    float: left;
    font-size: 16px;
    margin: 0 auto;
    line-height: 1.1;
    vertical-align: middle;
    height: 36px;
    padding: 0.6em 0.5em 0.5em 0.75em; }
  .form .form-input-group label {
    width: 33.333%;
    background: #ff5e53;
    color: #fff; }
  .form .form-input-group input, .form .form-input-group select {
    width: 66.666%;
    border-bottom: none; }
  .form .form-input-group select {
    border: 0;
    background: #f2f2f2;
    padding: 0; }
    .form .form-input-group select option {
      padding: 0.4em 0.75em;
      border-bottom: 1px solid #e8e8e8; }
      .form .form-input-group select option:first-child {
        padding-top: 0.5em; }
      .form .form-input-group select option:last-child {
        border-bottom: none;
        padding-bottom: 0.5em; }

/*# sourceMappingURL=styles.css.map */
