@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|PT+Sans:400,700");
.paragraph, p, input, select {
  font: normal normal 300 16px/1.8em "PT Sans", sans-serif;
  margin: 0.5em auto 1.65em; }
  @media screen and (max-width: 640px) {
    .paragraph, p, input, select {
      font-size: 15px; } }

.title, h1, h2, h3, h4, h5, h6 {
  font: normal normal 700 30px/1.6em "PT Sans", sans-serif;
  margin: 0 auto 0.6em;
  text-transform: capitalize; }
  @media screen and (max-width: 640px) {
    .title, h1, h2, h3, h4, h5, h6 {
      font-size: 24px; } }

input, textarea, select {
  font: normal normal 300 16px/1.8em "PT Sans", sans-serif; }

.clear-inner:after, .articles:after, .form .form-input-group:after {
  display: block;
  clear: both;
  content: ' '; }

.column {
  width: 100%;
  margin: 0 auto;
  max-width: 720px; }

.box, .content, .article, body, div, section, .form input, .form textarea, .form .form-input-group label, .form .form-input-group input, .form .form-input-group select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.content {
  padding: 1em 1.5em; }
  .content:last-child p:last-child {
    margin-bottom: 0; }

.img-fit {
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden; }
  .img-fit img {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 330ms ease;
    -moz-transition: 330ms ease;
    -ms-transition: 330ms ease;
    -o-transition: 330ms ease;
    transition: 330ms ease; }
  .img-fit:hover img {
    height: 110%;
    width: 110%;
    top: -5%;
    left: -5%; }

.btn {
  background: #2c3435;
  color: #fff;
  border: 2px solid #2c3435;
  text-align: center;
  min-width: 180px;
  padding: 1em;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
  text-decoration: none !important;
  -webkit-transition: 330ms ease;
  -moz-transition: 330ms ease;
  -ms-transition: 330ms ease;
  -o-transition: 330ms ease;
  transition: 330ms ease; }
  .btn:hover {
    background: transparent;
    color: #2c3435; }
  .btn.mini {
    font-size: 14px;
    padding: 0.3em;
    min-width: 30px; }
  .btn.icon {
    font-size: 14px;
    padding: 0.3em 0.75em;
    min-width: 0; }

.article {
  display: inline-block;
  float: left;
  padding-top: 25px; }
  .article a {
    display: block;
    position: relative;
    overflow: hidden; }
  .article h3 {
    font-size: 16px;
    margin: 0.5em 0;
    text-transform: none; }
  .article span {
    font-size: 14px; }
  .article .article-hero {
    background: #f2f2f2; }
  .article .placeholder {
    pointer-events: none; }
    .article .placeholder span:before, .article .placeholder h3:before {
      content: '.';
      background: #f2f2f2;
      display: inline-block;
      letter-spacing: 8em;
      color: #f2f2f2; }
  @media screen and (min-width: 1024px) {
    .article {
      width: 33.33%; }
      .article:nth-child(1), .article:nth-child(2), .article:nth-child(3) {
        padding-top: 0; }
      .article:nth-child(3n+1) {
        padding-right: 3%;
        clear: both; }
      .article:nth-child(3n+2) {
        padding-right: 1.5%;
        padding-left: 1.5%; }
      .article:nth-child(3n+3) {
        padding-left: 3%; }
      .article .img-fit {
        padding-bottom: 150%; } }
  @media screen and (max-width: 1023px) and (min-width: 641px) {
    .article {
      width: 50%; }
      .article:nth-child(odd) {
        padding-right: 2%; }
      .article:nth-child(even) {
        padding-left: 2%; }
      .article .img-fit {
        padding-bottom: 125%; } }
  @media screen and (max-width: 640px) {
    .article {
      width: 100%;
      display: block;
      float: none;
      padding: 10px 0 !important; }
      .article .img-fit {
        padding-bottom: 110%; } }
  @media screen and (min-width: 1024px) {
    .article.featured:nth-child(4) {
      display: none; } }

.post h2 {
  border-bottom: 1px solid;
  padding: 0 0 0.5em;
  margin: 0 0 0.75em; }
.post h3 {
  font-weight: 400; }
.post h2, .post h3 {
  text-transform: uppercase;
  font-size: 20px; }
.post blockquote {
  border-left: 2px solid;
  padding: 0.5em 0 0.5em 1.5em;
  margin: 1.5em 0 1.75em 0.5em;
  color: #2c3435;
  font-size: 18px; }
.post q {
  font-style: italic; }
.post ul, .post ol {
  padding-left: 2em;
  line-height: 1.8em; }
.post li {
  padding: 0.2em 0; }
@media screen and (min-width: 641px) {
  .post p {
    text-align: justify; } }
.post del {
  opacity: 0.5; }
.post ins {
  font-weight: 700;
  text-decoration: none; }
.post samp {
  font-family: monospace;
  background: #f2f2f2;
  font-size: 13px;
  padding: 4px 7px;
  -webkit-margin-end: 2px;
  border-radius: 3px;
  white-space: nowrap; }

* {
  font-family: inherit;
  color: inherit; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PT Sans", sans-serif;
  color: #2c3435; }

a {
  text-decoration: none;
  cursor: pointer; }

p a {
  text-decoration: underline;
  padding: 0 2px; }
  p a:hover {
    text-decoration: none;
    background: #2c3435;
    color: #fff; }

.full {
  width: 100%; }

code.hljs {
  padding: 2em 0 2em 2em; }

h1.small, h2.small, h3.small, h4.small, h5.small, h6.small {
  font-size: 18px;
  text-transform: uppercase; }

hr {
  border: 1px solid #2c3435;
  clear: both; }
  @media screen and (max-width: 640px) {
    hr {
      margin: 0; } }

code {
  font-family: "Roboto Mono", monospace; }
  @media screen and (max-width: 640px) {
    code {
      font-size: 14px;
      padding: 0.5em 0; } }

.form input, .form textarea {
  display: block;
  width: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: 0px none transparent;
  border-radius: 0; }
.form input[type='text'], .form input[type='password'], .form input[type='email'], .form input[type='tel'], .form input[type='number'] {
  padding: 0.5em 0.5em 0.5em 0.8em;
  border: none;
  border-bottom: 3px solid #2c3435;
  background: #f2f2f2; }
.form input[type='submit'] {
  background: #2c3435;
  border: 3px solid #2c3435;
  text-align: center;
  padding: 0.75em;
  color: #ffffff; }
  .form input[type='submit']:hover {
    background: #ffffff; }
.form .form-input-group {
  margin: 0.5em auto 1em; }
  .form .form-input-group label, .form .form-input-group input, .form .form-input-group select {
    display: inline-block;
    float: left;
    font-size: 16px;
    margin: 0 auto;
    line-height: 1.1;
    vertical-align: middle;
    height: 36px;
    padding: 0.6em 0.5em 0.5em 0.75em;
    border-radius: 0;
    -webkit-appearance: none; }
  .form .form-input-group label {
    width: 33.333%;
    background: #2c3435;
    color: #fff; }
  .form .form-input-group input, .form .form-input-group select {
    width: 66.666%;
    border-bottom: none; }
  .form .form-input-group select {
    border: 0;
    background: #f2f2f2; }
    .form .form-input-group select option {
      padding: 0.4em 0.75em;
      border-bottom: 1px solid #e8e8e8; }
      .form .form-input-group select option:first-child {
        padding-top: 0.5em; }
      .form .form-input-group select option:last-child {
        border-bottom: none;
        padding-bottom: 0.5em; }
  .form .form-input-group.form-upload label {
    display: block;
    width: 100%;
    padding: 1.5em;
    background: #f2f2f2;
    height: auto;
    cursor: pointer;
    opacity: 0.5;
    border: 2px dashed #2c3435;
    -webkit-transition: opacity 330ms ease;
    -moz-transition: opacity 330ms ease;
    -ms-transition: opacity 330ms ease;
    -o-transition: opacity 330ms ease;
    transition: opacity 330ms ease; }
    .form .form-input-group.form-upload label fa {
      color: #2c3435;
      display: block;
      opacity: 0.75;
      font-size: 24px;
      text-align: center;
      -webkit-transition: opacity 330ms ease;
      -moz-transition: opacity 330ms ease;
      -ms-transition: opacity 330ms ease;
      -o-transition: opacity 330ms ease;
      transition: opacity 330ms ease; }
    .form .form-input-group.form-upload label:hover {
      opacity: 1; }
  .form .form-input-group.form-upload input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }

/*# sourceMappingURL=styles.css.map */
