<div class="column content clear-inner">

    <h1>Articles</h1>

    <div class="category-picker">

        <p>Filter Categories
            <fa name="angle-down"></fa>
        </p>

        <ul>

            <li *ngFor="let category of categories; let i = index;" [ngClass]="{ 'active': category.active }" (click)="selectCategory(i)">

                <div class="checkbox">

                    <fa name="check"></fa>

                </div>

                <span>{{category.name}}</span>

            </li>

        </ul>

    </div>

</div>

<div class="column content">

    <div class="articles">

        <ng-template ngFor let-article [ngForOf]="articles">

            <article feature [article]="article" class="article"></article>

        </ng-template>

    </div>

</div>