<div class="column content clear-inner">

    <h1 id="hello">Articles</h1>

    <div class="category-picker" [ngClass]="{'active':activeCategories.length,'viewable':categoryPickerViewable}">

        <p (click)="viewCategories()">Filter Categories
            <fa name="angle-down"></fa>
        </p>

        <ul>

            <li *ngFor="let category of categories; let i = index;" [ngClass]="{ 'active': category.active }" (click)="selectCategory(i)">

                <div class="checkbox">

                    <fa name="check"></fa>

                </div>

                <span>{{category.name}}</span>

            </li>

            <li (click)="clearCategories()">

                <div class="checkbox">

                    <fa name="refresh"></fa>

                </div>

                <span>Clear Categories</span>

            </li>

        </ul>

        <div *ngIf="activeCategories.length" class="category-count">{{activeCategories.length}}</div>

    </div>

</div>

<div class="column content">

    <div class="articles">

        <ng-template ngFor let-article [ngForOf]="articles">

            <article feature [article]="article" class="article"></article>

        </ng-template>

        <ng-template ngFor let-placeholder [ngForOf]="placeholders">

            <article feature class="article"></article>

        </ng-template>

    </div>

</div>