<div class="column content">

  <h1>Articles</h1>

  [ article categories select ]

</div>

<div class="column content">

  <div class="articles">
    <article *ngFor="let post of articles" class="article featured">
        <a routerLink="/articles/{{ post.url }}" title="Read Article">
            <div class="article-hero img-fit">
                <img [src]="post.hero">
            </div>
            <h3>{{ post.title }}</h3>
            <span>{{ post.date | date:'mediumDate' }}</span>
        </a>
      </article>
  </div>

</div>