<div class="column content">

    <h2>Front End Designer & Full Stack Developer</h2>
    
    <p>I am a UX/UI focused digital designer and full stack web developer working in the South West of England, currently within the web design & development team of an industry leading construction marketing company.</p>

    <p>I combine my knowledge and experience of full stack web development, the latest web programming languages and frameworks with my expert design skill-set; developed from a degree level with a focus on understanding design fundamentals to create scalable, reusable web applications.</p>
    
    <p>I provide the complete package in designing, developing and analysing web applications, with the ability to find and solve problems and create unabridged online experiences for both business and consumer focused clientele.</p>

</div>
