<header id="main" class="column content clear-inner">
  <a routerLink="home" id="logo">
    <h2>jmcgrory</h2>
  </a>
  <nav [ngClass]="{'admin': authService.loggedIn() }">
    <ul>
      <li>
        <a routerLink="home">Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="about">About</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="articles">Articles</a>
      </li>
      <li routerLinkActive="active" *ngIf="authService.loggedIn()">
        <a routerLink="dashboard">Dash</a>
      </li>
      <li routerLinkActive="active" *ngIf="authService.loggedIn()">
        <a (click)="logout()">Logout</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>

<div class="column content">
  <hr>
</div>
