//************************//
//****     NAVBAR     ****//
//************************//

  // Includes
  @import '../../partials/const';
  @import '../../partials/mixins';
  @import '../../partials/classes';
  @import '../../partials/basic';

  // Custom Styles

  #logo {
    display: inline-block;
    float: left;
    
    h2 {
      font-size: 24px;
      padding: 0.25em 0 0;
      margin: 0;
      text-transform: none;
    }

    @include mobile {
      h2 {
        font-size: 20px;
      }
    }
  }

  nav {
    display: inline-block;
    float: right;

    &.admin ul li a {
      font-size: 15px;
      padding: 0.3em 0.5em;
    }

    ul {
      list-style: none;
      margin: 0.8em auto;

      @include mobile {
        margin: 0.5em auto;
      }

      li {
        display: inline-block;
        position: relative;

        a {
          display: block;
          padding: 0.25em 1em;
          font-size: 16px;

          @include mobile {
            font-size: 14px;
          }
        }
        &.active a:before {
          position: absolute;
          bottom: -2px;
          width: 50%;
          height: 2px;
          background: $primary;
          right: 25%;
          display: block;
          content: ' ';
        }
        &:last-child a {
          padding-right: 0;

          &:before {
            right: 10%;
            width: 55%;
          }
        }
      }
    }
  }