//************************//
//****    APP SCSS    ****//
//************************//

  // Fonts
    .paragraph {
      font: normal normal 300 16px/1.8em $font;
      margin: 0.5em auto 1.65em;

      @include mobile {
        font-size: 15px;
      }
    }
    .title {
      font: normal normal 700 30px/1.6em $font;
      margin: 0 auto 0.6em;
      text-transform: capitalize;

      @include mobile {
        font-size: 24px;
      }
    }
    input, textarea, select {
      font: normal normal 300 16px/1.8em $font;
    }

  // Layout
    .clear-inner:after {
      display: block;
      clear: both;
      content: ' ';
    }
    .column {
      width: 100%;
      margin: 0 auto;
      max-width: 720px;
    }
    .box {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
    .content {
      padding: 1em 1.5em;

      @extend .box;

      &:last-child p:last-child {
        margin-bottom: 0;
      }
    }
    .img-fit {
      width: 100%;
      height: 0;
      position: relative;

      img {
        position: absolute;
        object-fit: cover;
        object-position: center center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  
  // Buttons

  .btn {
    background: $primary;
    color: #fff;
    border: 2px solid $primary;
    text-align: center;
    min-width: 180px;
    padding: 1em;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    text-decoration: none!important;
    @include transition();

    &:hover {
      background: transparent;
      color: $primary;
    }

    &.mini {
      font-size: 14px;
      padding: 0.3em;
      min-width: 30px;
    }
  }


  // Articles
    .articles {
      @extend .clear-inner;
    }
    .article {
      display: inline-block;
      float: left;
      padding-top: 25px;
      @extend .box;

      h3 {
        font-size: 16px;
        padding: 0.5em 0;
        margin: 0 auto;
        text-transform: none;
      }
      span {
        font-size: 14px;
      }

      @include desktop {

        width: 33.33%;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3){
          padding-top: 0;
        }

        &:nth-child(3n+1){
          padding-right: 3%;
          clear: both;
        }
        
        &:nth-child(3n+2){
          padding-right: 1.5%;
          padding-left: 1.5%;
        }
        
        &:nth-child(3n+3){
          padding-left: 3%;
        }

        .img-fit {
          padding-bottom: 150%;
        }
      }

      @include tablet {
        width: 50%;

        &:nth-child(odd) {
          padding-right: 3%;
        }

        &:nth-child(even) {
          padding-right: 3%;
        }

        .img-fit {
          padding-bottom: 125%;
        }
      }

      @include mobile {
        width: 100%;
        display: block;
        float: none;
        padding: 10px 0!important;

        .img-fit {
          padding-bottom: 110%;
        }
      }

      &.feature {
        padding-top: 0;
      }
    }
  
  // Posts

  .post {

    h2 {
      border-bottom: 1px solid;
      padding: 0 0 0.5em;
      margin: 0 0 0.75em;
    }

    h3 {
      font-weight: 400;
    }

    h2, h3 {
      text-transform: uppercase;
      font-size: 20px;
    }

    blockquote {
      border-left: 2px solid;
      padding: 0.5em 0 0.5em 1.5em;
      margin: 1.5em 0 1.75em 0.5em;
      color: $primary;
      font-size: 18px;
    }

    q {
      font-style: italic;
    }

    ul, ol {
      padding-left: 2em;
      line-height: 1.8em;
    }

    li {
      padding: 0.2em 0;
    }

    p {
      @include notMobile(){
        text-align: justify;
      }
    }

    del {
      opacity: 0.5;
    }

    ins {
      position: relative;
      -webkit-margin-start: 4px;

      &:after {
        display: block;
        content: ' ';
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        border-top: 5px solid;
        position: absolute;
        top: -1px;
        left: -5px;
      }
    }

    samp {
      font-family: monospace;
      background: #efefef;
      font-size: 13px;
      padding: 4px 7px;
      -webkit-margin-end: 2px;
      border-radius: 3px;
      white-space: nowrap;
    }

  }

/*

This Is The H6
They were the worst of times, but seriously this is a paragraph. What does a link look like within here? Who knows, he thought to himself! That was an 'i' tag for thoughts, now lets use an 'em' tag for emphasis.

Additionally now, in the next paragraph tag, we are going to get bolder strong text, and similarly strong "bring to attention" tag use... despite that we can continue talking normally, but then switch over to a quick bit of span action. Crikey eh!

Things To Cover
Let's think of a few more things we need to cover:

Unordered Lists - Such as this!
Ordered Lists - Numeric please
Inline 'q' Quotes - Nothing fancy
Block Quotes - Semi fancy
Unordered Lists - Such as this!
Unordered Lists - Such as this!
What about nested list item elements
What about them!?
Del/Ins Tags - Deleted/Inserted content, remember attrs!
Note Tag - Bit O' Highlightin
Dfn Tag - Dfn, much like span tbh
Abbr - Abbrev's yo!
Additional Concerns
Hmm that line break really got me thinking about, you guessed it, layout tags! Within a CMS textarea content editor? Yeah. Let's list some of these...

Section Tags - Because we want to compartmentalise things, if that is a word. Oh this is a long list item, I wonder how the styling will react!
What about nested ordered list item elements
What about them!?
Samp - Inline code samples, maybe include kbd tag
Pre/Code - Full code blocks!
Cite Element - Not layout but hey

*/