//************************//
//****    VARIABLES   ****//
//************************//

  // Colours
    $primary:       #ff5e53;
    $secondary:     #213538;

  // Fonts
    @import url('https://fonts.googleapis.com/css?family=Roboto+Mono|PT+Sans:400,700');
    $font: 'Oxygen', sans-serif;
    $code: 'Roboto Mono', monospace;

  // Layout
    $desktop-width: 1366px;
    $mobile-width: 640px;