//************************//
//****    VARIABLES   ****//
//************************//

  // Colours
    $primary:       #ff5e53;
  //  $primary:       #213538;
    $secondary:     #213538;
    $tertiary:      #fcfcfc;

  // Fonts
    @import url('https://fonts.googleapis.com/css?family=Roboto+Mono|PT+Sans:400,700');
    $font: 'PT Sans', sans-serif;
    $code: 'Roboto Mono', monospace;

  // Layout
    $desktop-width: 1024px;
    $mobile-width: 640px;